body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #24ea3dab, #419effd1 1000px) !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100% !important;
  width: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  justify-content: center !important;
  
  
}

.col-6 {
  text-align: center !important;
  padding-top: 5em !important;
  min-width: 22.5em !important;
  max-width: 22.5em !important;
  margin-bottom: 2em !important;
}

button{
    margin: 1em;
}

.list-group-item{
  box-shadow: 3px 3px 5px 0px #0000001c;
  border-bottom: 1px solid rgb(16, 164, 184) !important;
}
h1,
h3{
  color: white !important;
  margin-bottom: .5em;
}
a{
    color: #0277BD !important;
    font-size: larger !important;
}